<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tool.toolsshare">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/toolsharelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.DataViewActivity"></activity>
        <activity android:name=".view.MyRentals" />
        <activity android:name=".view.Payment" />
        <activity android:name=".view.ForgetPasswordActivity" />
        <activity android:name=".view.AddressDetails" />
        <activity android:name=".view.InviteFriends" />
        <activity android:name=".view.Settings" />
        <activity android:name=".view.Profile" />
        <activity android:name=".view.Search" />
        <activity android:name=".view.ProductDetails" />
        <activity android:name=".view.SelectCategory" />
        <activity android:name=".view.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.UserRegistration"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".view.PublishPost" />
        <activity android:name=".view.UserLogin">

        </activity>
        <activity android:name=".view.OnBoardingScreen" />
        <activity android:name=".view.Intro" />
        <activity
            android:name=".view.HomeActivity"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>


</manifest>